<template>
  <q-page class="flex flex-center">
    <form @submit.prevent='LlamarPersonajes ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Selecciona una opción'
        :options="entitySelectOptions"
        dark
      />
      <q-input v-model="query" dark />
      <q-btn label='Buscar' color='blue-6' class='boton' @click='LlamarPersonajes ()'/>
      <div v-if='pokemon'>
        <q-card color='blue-grey-3'>
          <q-card-title>
            <span>Nombre: </span> <span style="color: black"> {{ pokemon.name }} </span>
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main >
            <img v-bind:src="pokemon.sprites.front_default" /><br>
            <span> Experiencia: </span>
            <span style="color: black"> {{ pokemon.base_experience }} </span><br>
            <span> Altura: </span>
            <span style="color: black">{{ '0,' + pokemon.height + ' m' }} </span><br>
            <span> Peso: </span>
            <span style="color: black"> {{ pokemon.weight + ' kg'}} </span><br>
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
body{
  background-image: url('https://cdn.vox-cdn.com/thumbor/3ajecDMOIH59cbOeyO0bap_4wj4=/0x0:2257x1320/1200x800/filters:focal(949x480:1309x840)/cdn.vox-cdn.com/uploads/chorus_image/image/63738986/pokemon.0.0.png');
}
</style>

<script>
export default {
  data () {
    return {
      pokemon: null,
      query: null,
      selectedEntity: 'pokemon',
      method: 'GET',
      entitySelectOptions: [
        {
          label: 'Pokemon',
          value: 'pokemon'
        }
      ]
    }
  },
  methods: {
    LlamarPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://pokeapi.co/api/v2/' + entity + '/' + query
      this.$axios.get(url)
        .then((res) => {
          this.pokemon = res.data
          console.log(res.data)
        })
        .catch(() => {
          console.log('Inside error, fetching product line items failed')
        })
    }
  }
}
</script>
